html{
    font-family: 'Comfortaa', cursive;
font-family: 'Roboto', sans-serif;
}
header{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),
    url(../images/header.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 150px;
}
.nav-item{
    margin: 0 10px;
}
.nav-link{
    font-size: 1.4rem;
}
.navbar{
    box-shadow: 0 1px 10px #F1B40D;
}
